/* estilos personalizados del body en todas las páginas */
.fondo{
	background: #002054; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMjA1NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iIzAwMTk0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzA3MTczOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc5JSIgc3RvcC1jb2xvcj0iIzAwMTk0NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDIwNTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #002054 0%, #001944 31%, #071738 50%, #001944 79%, #002054 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#002054), color-stop(31%,#001944), color-stop(50%,#071738), color-stop(79%,#001944), color-stop(100%,#002054)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #002054 0%,#001944 31%,#071738 50%,#001944 79%,#002054 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #002054 0%,#001944 31%,#071738 50%,#001944 79%,#002054 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #002054 0%,#001944 31%,#071738 50%,#001944 79%,#002054 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #002054 0%,#001944 31%,#071738 50%,#001944 79%,#002054 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002054', endColorstr='#002054',GradientType=0 ); /* IE6-8 */
}
#sombra_body{
	-webkit-box-shadow: 2px 4px 35px 10px rgba(65,113,145,0.75);
	-moz-box-shadow: 2px 4px 35px 10px rgba(65,113,145,0.75);
	box-shadow: 2px 4px 35px 10px rgba(65,113,145,0.75);
}

/*aspectos generales: bordes y color de fondo de formLevelUp*/
.formLevelUp 
{ -webkit-box-shadow: 3px 3px 5px #888888; 
-moz-box-shadow: 3px 3px 5px #888888;
box-shadow: 3px 3px 5px #888888;
 
-webkit-border-radius:25px; 
-moz-border-radius:25px;
border-radius:25px;

border: 10px #00FFFF ridge; width: 186px; height:102px; text-align: center; background-color: #E0F8F7;}

.negrita{
font-weight:bold;
}

.formNewProd
{ -webkit-box-shadow: 3px 3px 5px #888888; 
-moz-box-shadow: 3px 3px 5px #888888;
box-shadow: 3px 3px 5px #888888;
 
-webkit-border-radius:25px; 
-moz-border-radius:25px;
border-radius:25px;

border: 10px #00FFFF ridge; width: 575px; height:665px; background-color: #E0F8F7;}

.formVerPromos
{ -webkit-box-shadow: 3px 3px 5px #888888; 
-moz-box-shadow: 3px 3px 5px #888888;
box-shadow: 3px 3px 5px #888888;
 
-webkit-border-radius:25px; 
-moz-border-radius:25px;
border-radius:25px;

border: 10px #00FFFF ridge; width: 455px; height:274px; background-color: #E0F8F7;}


/*botones normales: anchura y margen*/
.formLevelUp [type=Button] 
{-webkit-border-radius:25px; 
-moz-border-radius:25px;
border-radius:25px;
width: 90px; padding: 0; height:25px; }

.formLevelUp [type=Reset] 
{-webkit-border-radius:25px; 
-moz-border-radius:25px;
border-radius:25px;
width: 78px; padding: 0; height:25px; }

.formLevelUp [type=Submit] 
{-webkit-border-radius:25px; 
-moz-border-radius:25px;
border-radius:25px;
width: 150px; padding: 0; height:25px; }